body{
    margin: 0PX;
    padding: 0px;
}
*{
  box-sizing: border-box;
}
.container{
  border:2px solid;
  gap: 10px;
  justify-content: start;
  background-color: aliceblue;
  display: flex;
}
input{
  border-radius: 40px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  




  

